---
import Album from "../../layouts/Album.astro"

const photos = await Astro.glob("../../assets/photos/japan-2024/*.jpg")
---

<Album title="japan 2024" url="/photos/japan-2024" photos={photos}>
	<p>Select travel shots from a trip I took to Japan with my fiancée on October 2024</p>
</Album>
