---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
---

<Layout title="projects, photos and blog by nfrasser">
	<p class="intro">Perpetually passionate about elegant solutions to difficult problems.</p>
	<ul role="list" class="main-grid">
		<Card
			href="/projects/linkify"
			title="Linkify"
			body="JavaScript library to find links in plain-text and convert them to HTML <a> tags."
			class="column"
		/>
		<Card
			href="/projects/cryosparc-tools"
			title="cryosparc-tools"
			body="Open-source Python library that enables scripting access to the CryoSPARC cryo-EM software package."
			class="column"
		/>
		<Card
			href="/photos/365ish"
			title="365ish"
			body="I took one photo every day for a year (except Sundays)"
			class="column"
		/>
		<Card
			href="/blog/thoughts-on-self-categorization"
			title="Thoughts on self-categorization"
			body="Latest blog post"
			class="column"
		/>
	</ul>
</Layout>
