---
import "@fontsource/atkinson-hyperlegible"
import "@nfrasser/milligram/dist/milligram.css"
import "./layout.css"

export interface Props {
	title: string
	url?: string
	image?: string
	summary?: string
}

const { title, url, image, summary } = Astro.props
const description = "Perpetually passionate about elegant solutions to difficult problems."
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/png" href="/assets/avatar.png" />
		<title>{title}</title>
		<meta name="description" content={summary || description} />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={summary || description} />
		<meta property="og:url" content={`https://nfrasser.com${url || "/"}`} />
		<meta property="og:image" content={`https://nfrasser.com${image || "/assets/avatar.png"}`} />
	</head>
	<body>
		<div class="container">
			<header>
				<a href="/">
					<img src="/assets/avatar.png" width="200" class="logo" />
				</a>
				<nav>
					<a href="/" class:list={["", "/"].includes(url || "") ? ["active"] : []}>nfrasser</a>
					<a href="/projects/" class:list={url?.startsWith("/projects") ? ["active"] : []}>projects</a>
					<a href="/photos/" class:list={url?.startsWith("/photos") ? ["active"] : []}>photos</a>
					<a href="/blog/" class:list={url?.startsWith("/blog") ? ["active"] : []}>blog</a>
				</nav>
			</header>
			<main>
				<slot />
			</main>
			<footer>
				<nav>
					<a href="https://github.com/nfrasser">GitHub</a>
					<a href="https://www.linkedin.com/in/nfrasser/">LinkedIn</a>
					<a href="https://www.instagram.com/nfrasser/">Instagram</a>
					<a href="https://bsky.app/profile/nfrasser.com">Bluesky</a>
				</nav>
				<p>{new Date().getUTCFullYear()} Nick Frasser</p>
			</footer>
		</div>
	</body>
</html>

<style>
	.logo {
		display: inline;
		border-radius: 0.25em;
		margin-bottom: 1.5em;
		transition: transform 0.3s ease;
	}

	.logo:hover,
	.logo {
		transform: scale(1.15);
	}
</style>
